<div id="header-start" style="background-color:orange;color:black;">
    <div style="border:1px solid blue;" id="outer">
       <span id="heading" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight:700;">Coding ninjas</span>
      <div id="company-btns"style="border:1px solid red;width:40%; margin-left:10%;display:inline-flex;justify-content:space-between;">
       <div id="home">Home</div>
         <div id="OurStudents">Rewiew</div>
         <div id="about">About</div>
         </div>
     <div style="width:30%; display:inline-flex;justify-content:flex-end;">
        <div>
            <a href="#">Signin</a>
        </div>
        
        <div>
            <a href="#">Signup</a>
        </div>
     </div>
    </div>
</div>