<div id="navbar">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Coding Ninjas</a>
       <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a href="#placement" class="nav-link">placements</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">AboutUs</a>
            </li>
            <li class="nav-item">
                <a href="#company-logos" class="nav-link">Tech</a>
            </li>
            
            </ul>
       </div >
     <div class="d-inline-flex">
        
           <div>
            <a href="#" class="nav-link">Signin</a>
       
</div>
<div>
            <a href="#" class="nav-link">Signup</a>
        </div>
     </div>
      
    </nav>
    </div>