<section id="home" class="bg-light">

<div id="homepage" class="container" style="width:70%;margin-top:5%; height:auto; background-color:orange;" >
    <h2>Introducing Placement Cell</h2>
    <h4>by Coding Ninjas</h4> <span><h5 style="color:blue;">You are eligble for 0 new Jobs</h5></span>
</div>
</section>
<!--job-->
<section id="placement" >

<div class="container">
<div class="container d-flex justify-content-between" style="width:70%;margin-top:4%; ">
    <div class="jobs"><h3>All jobs</h3></div>
    <div class="jobs"><h3>Coding Ninjase Jobs</h3></div>
    <div class="jobs"><h3>Eligble</h3></div>
    <div class="jobs"><h3>Applied</h3></div>
      
</div>
<div id="mern-poster" class="container border border-2 bg-primary" style="width:70%;height:40%;">

</div>
</div>
</section>
<%- include('interview'); %>
<%- include('aboutUs'); %>
