<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="start">
                <div id="heading">
                    <h1 class="heading-h1">
                        Welcome to placement cell
                    </h1>
                </div>
                <div id="signiDiv">
                    <h3 id="singin">
                        Signin
                    </h3>
                    <div id="signinForm">
                        <form action="#" method="get">
                            <h5>email</h5>
                            <input type="email" name="email" id="email" required>
                            <h5>password</h5>
                            <input type="password" name="password" id="password" required>
                            <input type="submit" value="Go">
                        </form>
                        <div id="signupDiv">
                            <p>if you not have account <a href="/">create new</a></p>
                        </div>
                    </div>
                </div>
    </div>
</body>
</html>